.App {
  text-align: center;
  margin-top: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-40 {
  margin-top: 40px !important;
}

.bottom-40 {
  margin-bottom: 40px !important;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
  margin-right: auto;
}

.align-container {
  position: relative;
  height: 200px;
}

.align-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.width100 {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50px 50px 50px 50px;
}

h6 a:hover {
  text-decoration: underline;
  display: inline-block;
  border: 0px;
}